
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--background-light);
  color: var(--text-light);
  transition: background-color 0.3s, color 0.3s;
}

header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  height: 60px;;
  background-color: var(--light);
  color:var(--light);
}

main {
  flex: 1;
  width:100%;
}

aside {
  background: linear-gradient(
     var(--light-accent), 
     var(--circle-color), 
     var(--dark-accent)
    );
  clip-path: circle(16rem at center);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width:50%;
}
  
aside > h2 {
  font-size: 4rem;
  color: white;
  text-shadow: 1px 1px 1px var(--dark-accent);
}

section {
  flex: 1;
  width:50%;
  flex-direction: column;
  padding: 2rem;
  display: flex;
  align-items: stretch;
  flex-flow: column wrap;
  justify-content: center;
  border-left: double 1rem;
}
  
form {
  display: flex;
  flex-flow: column wrap;
  position: relative;
}
  
form > *:not(label) {
  margin: 1rem 0;
  padding: 0.5rem;
}
  
h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
  
button {
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  background-color: var(--dark);
  color: var(--light);
}
  
button:active {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .5);
  background-color: var(--dark-accent);
}
  
button:hover {
  border-style: inset;
  background-color: var(--dark-accent-action);
}
  
input,
textarea {
  border-radius: 4px;
  border-width: 1px;
  font-size: 1rem;
  background-color: var(--light-accent);
}

.toggle-mode {
  font-size: 1.9rem;
  display:flex;
  position: absolute;
  right: 1.8rem;
  cursor: pointer;
}
  
.error {
  color: var(--error);
  opacity: .75;
  position: absolute;
  bottom: 12rem;
  font-size: 1.5rem;
}
  
@media screen and (max-width:1420px) {
  aside {
    clip-path: circle(12rem at center);
    width: 30%;
  }
  aside > h2 {
    font-size: 2rem;
  }

  section {
    width: 100%;
    border-left: none;
  }
}

@media screen and (max-width:860px) {
  aside {
    display:none;
  }

  section {
    width: 100%;
    border-left: none;
  }
}